body{
    padding: 0;
    margin:  70px 50px ;
    background-color:  rgb(167, 150, 252);    
    box-sizing:border-box;
    justify-content: center;
    
}

.exp{
    background-color: white;
    margin: 2%;
    padding: 5%;
    border: 2px solid rgb(11, 10, 10);
    border-radius:20px;
    position:sticky;
}


h1{
    text-align: center;
}

label , input{
    
    padding: 6px;
    margin: 5px;   
    display: block;
}


input{
    width: 80%;
    padding: 10px;
    border-radius: 10px;
    /* display:block; */
    display: inline;
    align-items:center;
}

.button{
    width: 15%;
    border-radius: 5px;
}
.btndiv{
    display: block;
}

.btn{
    width: 100px;
    border-radius: 10px;
    padding: 10px;
}

.btn:hover{
    background-color: black;
    color: white;

}

#submitbtn:hover{
    background-color: black;
    color: white;
}

#reset:hover{
    background-color: black;
    color: white;
}